.full-page {
    height: 100vh;
    background-color: rgb(146, 206, 255);
}

.search-page {
    /* height: 100vh; */
    padding-top: 20vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.search-title {
    font-size: 50px;
    width: 650px;
    display: flex;
    text-align: center;
}
.search-box {
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.search-input {
    width: 380px;
    height: 51px;
    border-radius: 40px 0 0 40px;;
    padding-left: 40px;
    font-size: 18px;
    border-color: transparent ; 
    /* lightgray transparent lightgray lightgray */
}
.search-btn {
    height: 57px;
    width: 80px;
    padding-right: 12px;
    border-radius: 0 35px 35px 0;
    background-color: rgb(0, 132, 255);
    font-size: 23px;
    color: white;
    border-color: transparent;
    /* lightgray lightgray lightgray lightgray */
}
.search-btn:hover {
    background-color: blue;
}
.search-btn:active {
    background-color: lightblue;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no-result {
    margin-left: 20px;
}
.search-results {
    /* margin-top: 5px; */
    padding-top: 8px;
    margin-right: 60px;
    max-height: 380px;
    width: 400px;
    margin-bottom: 40px;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    border-radius: 15px;
    background-color: aliceblue;
}
.search-results::-webkit-scrollbar {
    width: 30px;
    border-radius: 15px;
    
}
.result-line {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    padding-left: 20px;
    transition: background-color 0.3s;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}
.result-line.selected {
    background-color: lightblue;
    border-radius: 20px;
    
  }
